@import "node_modules/bootstrap/scss/bootstrap.scss";
body {
  background: #D8D9DE;
  color: #584848;
	font-family: "Noto Serif TC", serif;
	text-align: center;
}

.row {
  // width: 75%;
  margin: 0 auto;
  text-align: center;
}
.heads {
  margin: 25px auto 0 auto;
  padding: 25px 0 25px 0;
	background-color: #393B45;
	border-bottom: 6px solid #F3B54A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
	font-family: "Anton", sans-serif;
  letter-spacing: 10px;
	font-size: 70px;
	color: #6E7889;
}
.platform {
	height: 70px;
	filter: grayscale(100%);
}
#second {
	transform: scaleX(-1);
}
.gameBoard {
  height: 375px;
  margin-bottom: 10px;
}
.game {
	height: 375px;
	// border: 6px solid #80FABF;
	// background: #D6AB19;
}
.underscore {
  margin: 25px auto;
  font-size: 50px;
}
img {
  height: 350px;
  // width: 300px;
  object-fit: contain;
}
p {
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 40px;
}
.instructions {
	font-size: 25px;
	margin-bottom: 5px;
}
.wrongGuess {
	font-size: 25px;
	border: 1px solid #393B45;
	height: 40px;
}
button {
	margin: 10px;
	background: #F3B54A;
	color: #6E7889;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	border: 1px solid #F3B54A;
	border-radius: 3px;
	width: 1em;
}
