@import "node_modules/bootstrap/scss/bootstrap.scss";
body {
  background: #2F5373;
  color: #D5FAA2;
  font-family: "Noto Serif TC", serif;
}

.row {
  // width: 75%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 25px auto 0 auto;
  padding: 0;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  font-size: 75px;
}
.gameBoard {
  height: 450px;
  margin-bottom: 25px;
}
.game {
	height: 450px;
	// border: 6px solid #80FABF;
	// background: #D6AB19;
}
.underscore {
  margin: 25px auto;
  font-size: 50px;
}
img {
  height: 400px;
  width: 300px;
  object-fit: contain;
}
p {
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 40px;
}
.instructions {
	font-size: 25px;
	margin-bottom: 5px;
}
