@import "node_modules/bootstrap/scss/bootstrap.scss";
.row {
	// width: 75%;
	margin: 0 auto;
	text-align: center;
}
h1 {
	margin: 25px auto 0 25px;
	padding: 0;
}
.gameBoard {
	height: 450px;
	border: 1px solid black;
	margin-bottom: 25px;
}
.game {
	height: 450px;
}
.underscore {
	margin: 25px auto;
	font-size: 50px;
}
img {
	height: 400px; 
	object-fit: fill;
}